{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-6"><input type="text" id="nom" placeholder="recherche article"></div>
            <div class="col-md-6"><button onclick="recherche()" >rechercher</button></div>
        </div>
    </div>
    <br>

    <h1>{{ articles|length }} Articles</h1>
    <br>
    <table>
        {% for article in articles %}
            <tr>
                <td width="30%"><img src="{{ asset('uploads/article/' ~ article.image) }}" style="width:150px;height:150px;margin-right:10px"/></td>
                <td width="40%"> <a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.nom }}</a><br><br>{{ article.description }}<br><br>{{ article.prix }}</td>
                <td>{% if article.createdAt %}{{ article.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block js %}
<script>

    function recherche() {
        var nom = $('#nom').val();
        if (nom == "" || nom == null){
            alert("introduisez quelque chose dans la recherche");
        }else{

            $.ajax({
                type: "POST",
                url: "{{ path('article_index') }}",
                data: {
                    'nom': nom
                },
                success: function(data, dataType)
                {
                    alert("success");
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert('Error : ' + errorThrown);
                }
            })
        }
    }

</script>
{% endblock %}
