{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categoriearticles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorieArticle in categorieArticles %}
            <tr>
                <td><a href="{{ path('categoriearticle_show', { 'id': categorieArticle.id }) }}">{{ categorieArticle.id }}</a></td>
                <td>{{ categorieArticle.nom }}</td>
                <td>{% if categorieArticle.createdAt %}{{ categorieArticle.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if categorieArticle.updatedAt %}{{ categorieArticle.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categoriearticle_show', { 'id': categorieArticle.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categoriearticle_edit', { 'id': categorieArticle.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoriearticle_new') }}">Create a new categorieArticle</a>
        </li>
    </ul>
{% endblock %}
