{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categoriearticle</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorieArticle.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorieArticle.nom }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if categorieArticle.createdAt %}{{ categorieArticle.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if categorieArticle.updatedAt %}{{ categorieArticle.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoriearticle_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categoriearticle_edit', { 'id': categorieArticle.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
