
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ path('commercial_homepage') }}">accueil</a></li>
            <li><a href="{{ path('article_index') }}">articles</a></li>
            <li><a href="{{ path('article_new') }}">ajouter article</a></li>
            <li><a href="{{ path('categoriearticle_index') }}">categorie</a></li>
            <li><a href="{{ path('categoriearticle_new') }}">ajouter categorie</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}

            <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

